# Assignement on RegEx (Regular Expression)                            

### Intern Name: Lakshminarayanareddy Marapareddygarihanumanthu
### Internship Number: DS2405

In [1]:
import re
import pandas as pd

In [2]:
# 1. Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

target_text = 'Python Exercises, PHP exercises.'
pattern = r"[\s,.]"

result = re.sub(pattern, r':', target_text)
print(result)

Python:Exercises::PHP:exercises:

In [3]:
# 2. Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.)
# from the columns except words.

Dictionary = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(Dictionary)

pattern = '[^a-zA-W-Y-Z\s]'
df['SUMMARY'] = df['SUMMARY'].str.replace(pattern, '', regex=True)
df

         SUMMARY
0    hello world
1           test
2  four five six

In [4]:
# 3. Create a function in python to find all words that are at least 4 characters long in a string. 
# The use of the re.compile() method is mandatory.

target_string = """Indian Space Research Organisation (ISRO), Indian space agency, founded in 1969 to develop an 
independent Indian space program."""

string_pattern1 = r"\w{4,}"
string_pattern2 = r"\b\w{4,}\b"

def find(string_pattern, target_string):
    pattern = re.compile(string_pattern)
    matches = pattern.findall(target_string)
    return matches

print(find(string_pattern1, target_string),"\n")
print(find(string_pattern2, target_string))

['Indian', 'Space', 'Research', 'Organisation', 'ISRO', 'Indian', 'space', 'agency', 'founded', '1969', 'develop', 'independent', 'Indian', 'space', 'program']

['Indian', 'Space', 'Research', 'Organisation', 'ISRO', 'Indian', 'space', 'agency', 'founded', '1969', 'develop', 'independent', 'Indian', 'space', 'program']

In [5]:
# 4. Create a function in python to find all three, four, and five character words in a string. 
# The use of the re.compile() method is mandatory.

def find3to5(string_pattern, target_string):
    pattern = re.compile(string_pattern)
    matches = pattern.findall(target_string)
    return matches

target_string = "Scotland is a country that is part of the United Kingdom. It contains nearly one third of the UK's land area."
string_pattern = r"\b\w{3,5}\b"

print(find3to5(string_pattern, target_string))

['that', 'part', 'the', 'one', 'third', 'the', 'land', 'area']

In [6]:
# 5. Create a function in Python to remove the parenthesis in a list of strings. 
# The use of the re.compile() method is mandatory.

List_strings = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

print(List_strings,"\n")

def remove(strings):
    pattern = re.compile(r"\(|\)") 
    modified_strings = []    
    
    for string in strings:
        remove_parenthesis= re.sub(pattern,"",string)
        modified_strings.append(remove_parenthesis)
        
    for i in range(len(modified_strings)):
        modified_strings[i] = re.sub(r"\s(.com)",r"\1",modified_strings[i])
        
    for item in modified_strings:
        print(item)
    
remove(List_strings)

['example (.com)', 'hr@fliprobo (.com)', 'github (.com)', 'Hello (Data Science World)', 'Data (Scientist)']

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [7]:
# 6. Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

def modified_regex():
    with open("sample1.txt") as file:
        for line in file:
            modified = re.sub(r" ?\([^)]+\)","",line)
            print(modified)            
            
modified_regex()

["example", "hr@fliprobo", "github", "Hello", "Data"]

In [8]:
# 7. Write a regular expression in Python to split a string into uppercase letters.

sample_text = "ImportanceOfRegularExpressionsInPython"
pattern = "[A-Z][^A-Z]*"

split_string1 = re.findall(pattern, sample_text)
print(split_string1, "\n")

pattern2 = "([A-Z][^A-Z]*)"
split_string2 = [ x for x in re.split(pattern2, sample_text) if x]

print(str(split_string2))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [9]:
# 8. Create a function in python to insert spaces between words starting with numbers.

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

def insert_space(target_text):
    pattern = r"([A-Za-z]+)(\d+)"
    result = re.sub(pattern,r"\1 \2", target_text)
    print(result)
    
insert_space(sample_text)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [10]:
# 9. Create a function in python to insert spaces between words starting with capital letters or with numbers.

target_text = "RegularExpression1IsAn2ImportantTopic3InPython"

def insert_spaces(target_text):
    pattern = r"([A-Za-z]+|\d)"
    result = re.sub(pattern,r" \1", target_text)
    print(result)
    
insert_spaces(target_text)

 RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [11]:
# 10. Use the github link below to read the data and create a dataframe. After creating the dataframe 
# extract the first 6 letters of each country and store in the dataframe under a new column called 
# first_five_letters.

data = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

df = pd.DataFrame(data)
df

df['first_five_letters'] = df['Country'].apply(lambda x: x[:5])
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switz
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icela
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denma
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norwa
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwand
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burun
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [12]:
# 11. Write a Python program to match a string that contains only upper and lowercase letters, numbers,and underscores.

target_string = "In 1910 when a new revised Constitution was adopted it acquired its present name."

def match_string(string):
    pattern = r"^[a-zA-Z0-9_]+"
    result = re.match(pattern, string)
    print(result)
    if result:
        print("\n String matched the pattern")
    else:
        print("\n No match string found")
    

match_string(target_string)

<re.Match object; span=(0, 2), match='In'>

 String matched the pattern

In [13]:
# 12. Write a Python program where a string will start with a specific number. 

string = input("Enter any string")

def start_with(string):
    pattern = r"^7"
    result = re.match(pattern,string)
    print(result)
    
    if result:
        return True
    else:
        return False

start_with(string)

Enter any string776hkjhkG
<re.Match object; span=(0, 1), match='7'>

True

In [14]:
# 13. Write a Python program to remove leading zeros from an IP address

IP_address = input("Enter an IP address of yours ")

def remove_leadzero(IP):
    pattern = "\.[0]*"
    updated_string = re.sub(pattern,".", IP)
    print("\n",updated_string)
    
remove_leadzero(IP_address)

Enter an IP address of yours 192.08.001.18

 192.8.1.18

In [15]:
# 14. Write a regular expression in python to match a date string in the form of Month name followed by day
# number and year stored in a text file.

def date_match():
    with open("sample2.txt") as file:
        for string in file:
            pattern = r"([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})"
            matches = re.findall(pattern, string) 
            for i in matches:
                print(i)
            
date_match()

August 15th 1947

In [16]:
# 15. Write a Python program to search some literals strings in a string. 
# Searched words : 'fox', 'dog', 'horse'

sample_text = 'The quick brown fox jumps over the lazy dog.'
pattern = r"fox|dog|horse"

result = re.finditer(pattern,sample_text)

# print all match objects
for match_obj in result:
    print(match_obj)

    print(match_obj.group())
    

# Searched words : 'fox', 'dog', 'horse'

<re.Match object; span=(16, 19), match='fox'>
fox
<re.Match object; span=(40, 43), match='dog'>
dog

In [17]:
# 16. Write a Python program to search a literals string in a string and also find the location within 
# the original string where the pattern occurs

sample_text = 'The quick brown fox jumps over the lazy dog.'
pattern = 'fox'
match = re.search(pattern, sample_text)
print(match,"\n")
start_loc = match.start()
end_loc = match.end()

print(f"Found {match.re.pattern} in {match.string} starting from {start_loc} to {end_loc}")

<re.Match object; span=(16, 19), match='fox'>

Found fox in The quick brown fox jumps over the lazy dog. starting from 16 to 19

In [18]:
# 17. Write a Python program to find the substrings within a string.

target_string = 'Python exercises, PHP exercises, C# exercises'

def substrings(string):
    pattern = 'exercises'
    matches = re.findall(pattern, string)
    print(matches)
    
    for match in matches:
        print(f"Match found {match}")
        
substrings(target_string)

['exercises', 'exercises', 'exercises']
Match found exercises
Match found exercises
Match found exercises

In [19]:
# 18. Write a Python program to find the occurrence and position of the substrings within a string.

sample_text = 'Python exercises, PHP exercises, C# exercises'

def substrings_position(string):
    pattern = 'exercises'
    matches = re.finditer(pattern,sample_text)
    # print all match objects
    for match_obj in matches:
        print(match_obj)
        
        print(match_obj.group())
        
substrings_position(sample_text)

<re.Match object; span=(7, 16), match='exercises'>
exercises
<re.Match object; span=(22, 31), match='exercises'>
exercises
<re.Match object; span=(36, 45), match='exercises'>
exercises

In [20]:
# 19. Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format. 

dt = input("Enter the date in yyyy-mm-dd format ")

def date_formatchange(dt):
    change_date = re.sub(r"(\d{4})-(\d{1,2})-(\d{1,2})","\\3-\\2-\\1",dt)
    return change_date

converted = date_formatchange(dt)
print(converted)

Enter the date in yyyy-mm-dd format 2024-05-26
26-05-2024

In [21]:
# 20. Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. 
# The use of the re.compile() method is mandatory.
# Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25 "
    
def find_decimals(text):
    pattern = re.compile("(\d+\.\d{1,2})\s")
    decimals = pattern.findall(text)
    return decimals

wanted_decimals = find_decimals(sample_text)
print(wanted_decimals)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [22]:
# 21. Write a Python program to separate and print the numbers and their position of a given string.
test_string = "Call and text for free with TextNow, the free phone service with over 100 million users across 85 nations."

pattern = "\d+"
matches = re.finditer(pattern, test_string)
for match in matches:
    print(f"{match.group()} position starts from {match.start()}")

100 position starts from 70
85 position starts from 95

In [23]:
# 22. Write a regular expression in python program to extract maximum/largest numeric value from a string.
text= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

def num_max(string):
    numerics = re.findall('\d+', string) # Find all numerics
    max_numeric = max(numerics)
    return (f"Max numeric value = {max_numeric}")

num_max(text)

'Max numeric value = 950'

In [24]:
# 23. Create a function in python to insert spaces between words starting with capital letters.

sample_text = "RegularExpressionIsAnImportantTopicInPython"
# pattern = r"([A-Za-z])([A-Z])"
# result = re.sub(pattern, r"\1 \2", sample_text)
# print(result)

def insert_spaces(string):
    pattern = r"([A-Za-z])([A-Z])"
    space_insert = re.sub(pattern, r"\1 \2", string)
    return space_insert

print(insert_spaces(sample_text))

Regular Expression Is An Important Topic In Python

In [25]:
# 24. Python regex to find sequences of one upper case letter followed by lower case letters

target_string = "Among the planets in our Solar system, Jupiter is the eldest and largest, and it often"

def seq_match(string):
    pattern = "[A-Z][a-z]+"
    matches = re.search(pattern, string)
    print(matches) 
    
    allmatches = re.findall(pattern, string)
    print(allmatches)
    
    if matches:
        return ("Sequence matched!")
    else: 
        return ("Sequence not matched!")
    
    allmatches = re.findall(pattern, string)
    print(allmatches)
    
    
seq_match(target_string)

<re.Match object; span=(0, 5), match='Among'>
['Among', 'Solar', 'Jupiter']

'Sequence matched!'

In [26]:
# 25. Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

sample_text = "Hello hello world world"
patteren = r'\b(\w+)(?:\W+\1\b)+'

filter_duplicate = re.sub(patteren, r'\1', sample_text)
print(filter_duplicate)

Hello hello world

In [27]:
# 26. Write a python program using RegEx to accept string ending with alphanumeric character.

target_string = "My driving licence number is LWHTA876GN99"

def alphanumeric(string):
    pattern = "[a-zA-Z0-9]$"
    match = re.search(pattern,string)
    if match:
        print("The string ends with alphanumeric ")
    else:
        print("The string does not end with alphanumeric ")

alphanumeric(target_string)

The string ends with alphanumeric

In [28]:
# 27. Write a python program using RegEx to extract the hashtags.
sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered 
USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

def hashtags(string):
    pattern = r"#\w+"
    hashtags = re.findall(pattern, string)
    return hashtags

hashtags(sample_text)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [29]:
# 28. Write a python program using RegEx to remove <U+..> like symbols
# Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. 
# You need to come up with a general Regex expression that will cover all such symbols.

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
def remove_strange(string):
    pattern = r"(<U\+\w{4}>)"
    modified_string = re.sub(pattern, "", string)
    return modified_string

print(remove_strange(sample_text))

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [30]:
# 29. Write a python program to extract dates from the text stored in the text file.
# sample_text = Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
# Note- Store this sample text in the file and then extract dates.

def extract_date():
    with open("sample3.txt") as file:
        for line in file:
            dates = re.findall(r"\d{1,2}-\d{1,2}-\d{4}",line)
            return dates            
            
dates = extract_date() 
print(dates)

['12-09-1992', '15-12-1999']

In [31]:
# 30. Create a function in python to remove all words from a string of length between 2 and 4.
# The use of the re.compile() method is mandatory.

target_string = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

def remove_words(string):
    string_pattern = r"\b\w{2,4}\s\b"
    pattern = re.compile(string_pattern)
    result_string = re.sub(pattern,"", string)
    print(result_string)
    
remove_words(target_string)

following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.