# WEB SCRAPING – ASSIGNMENT 2

### Web Scraping using Selenium
#### Intern Name: Lakshminarayanareddy Marapareddygarihanumanthu
#### Internship Number: DS2405

In [1]:
# Install and import required modules 
!pip install selenium

import selenium
import pandas as pd
from selenium import webdriver  # Allows you to launch/initialise a browser
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By   # Allows you to search for things using specific parameters like ID, Class name,...
import time   # Allows to stop search engine for user specified time

Requirement already satisfied: selenium in /home/lreddy/anaconda3/lib/python3.9/site-packages (4.22.0)
Requirement already satisfied: trio-websocket~=0.9 in /home/lreddy/anaconda3/lib/python3.9/site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in /home/lreddy/anaconda3/lib/python3.9/site-packages (from selenium) (2024.2.2)
Requirement already satisfied: websocket-client>=1.8.0 in /home/lreddy/anaconda3/lib/python3.9/site-packages (from selenium) (1.8.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /home/lreddy/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.11)
Requirement already satisfied: typing_extensions>=4.9.0 in /home/lreddy/anaconda3/lib/python3.9/site-packages (from selenium) (4.12.2)
Requirement already satisfied: trio~=0.17 in /home/lreddy/anaconda3/lib/python3.9/site-packages (from selenium) (0.25.1)
Requirement already satisfied: outcome in /home/lreddy/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in /home/lreddy/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup in /home/lreddy/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.1)
Requirement already satisfied: attrs>=23.2.0 in /home/lreddy/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: idna in /home/lreddy/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio>=1.3.0 in /home/lreddy/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: wsproto>=0.14 in /home/lreddy/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /home/lreddy/anaconda3/lib/python3.9/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /home/lreddy/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
    
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [2]:
# Initialize the Chrome driver
driver1 = webdriver.Chrome()

# Opening the required web page https://www.naukri.com/ on automated Chrome browser
driver1.get('https://www.naukri.com/')
time.sleep(4)

In [3]:
# Enter “Data Scientist” in “Skill, Designations, and Companies” field.
role = driver1.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
role.send_keys('Data Scientist')

In [4]:
# Click the search button.
search = driver1.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [5]:
#  Applying the location filter and salary filter by checking the respective boxes
location_filter = driver1.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[4]/div[2]/div[3]/label/i')
location_filter.click()

time.sleep(3)

salary_filter = driver1.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/i')
salary_filter.click()

In [6]:
# Creating empty lists to store scraped data of job_title, job_location, company_name and experience_required

job_title = []
job_location = []
company_name = []
experience_required = []

In [7]:
# scraping the data for the first 10 jobs results.

# Scraping job title from the given web page
title_tags = driver1.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags[:10]:
    title = i.text
    job_title.append(title)

# Scraping job location from the given web page
location_tags = driver1.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags[:10]:
    location = i.text
    job_location.append(location)
    
# Scraping company names from the given web page
company_tags = driver1.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags[:10]:
    company = i.text
    company_name.append(company)
    
# Scraping job experience required from the given web page
experience_tags = driver1.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags[:10]:
    exp = i.text
    experience_required.append(exp)

In [8]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [9]:
# Creating a dataframe of the scraped data
df_naukri = pd.DataFrame({'Title': job_title, 'Location': job_location, 'Company_name': company_name, 'Experience': experience_required})
df_naukri

,Title,Location,Company_name,Experience
0,Data Scientist,"Delhi / NCR, Pune, Bengaluru",Wipro,6-11 Yrs
1,Data Scientist III,Gurugram,Flutter,2-6 Yrs
2,Data Scientist,New Delhi,Sociomix,0-5 Yrs
3,Data scientist,Gurugram,Growthjockey,0-1 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
5,Data Scientist (Telco),"Gurugram, Bengaluru",PayU,2-7 Yrs
6,Data Scientist,Gurugram,Orange Business Services,3-5 Yrs
7,Data Scientist,Noida,Ericsson,3-7 Yrs
8,Data Scientist,Noida,Times Internet,3-8 Yrs
9,Data Scientist,Noida,Ericsson,3-7 Yrs

In [10]:
#Close the browser session 
driver1.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:

1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [11]:
# Initialize the Chrome driver
driver2 = webdriver.Chrome()

# Opening the required web page https://www.shine.com/ on automated Chrome browser
driver2.get('https://www.shine.com/')

In [12]:
# Enter “Data Scientist” in “Job title, Skills” field 
jobrole = driver2.find_element(By.XPATH,'/html/body/div/header/div[3]/div/div/div[1]/div/input')
jobrole.send_keys('Data Scientist')

In [13]:
# Click the search button.
search_button = driver2.find_element(By.XPATH,'/html/body/div/header/div[3]/div/div/div[1]/div/span/i')
search_button.click()

In [14]:
# Enter “Data Scientist” in “Job title, Skills” field  and “Bangalore” in “enter the location” field
role = driver2.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
role.send_keys('Data Scientist')

In [15]:
location = driver2.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [16]:
# Click the search jobs button.
search_jobs = driver2.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search_jobs.click()

In [17]:
# Creating empty lists to store scraped data of job_title, job_location, company_name and experience_required

job_title = []
job_location = []
company_name = []
experience_required = []

In [18]:
# scraping the data for the first 10 jobs results.

# Scraping job title from the given web page
title_tags = driver2.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/p/a')
for i in title_tags[:10]:
    title = i.text
    job_title.append(title)

# Scraping job location from the given web page
location_tags = driver2.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[:10]:
    location = i.text
    job_location.append(location)
    
# Scraping company names from the given web page
company_tags = driver2.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[:10]:
    company = i.text
    company_name.append(company)
    
# Scraping job experience required from the given web page
experience_tags = driver2.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[:10]:
    exp = i.text
    experience_required.append(exp)

In [19]:
job_title

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Recruitment',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist',
 'Data Analyst',
 'Senior Associate Data Engineering Level 2',
 'Hr Data Analyst']

In [20]:
job_location

['Bangalore',
 'Bangalore\n+1',
 'Bangalore',
 'Bangalore\n+13',
 'Bangalore\n+10',
 'Bangalore\n+15',
 'Bangalore\n+2',
 'Bangalore\n+4',
 'Bangalore\n+7',
 'Bangalore']

In [21]:
company_name

['comosrich it & consulting services',
 'dotcod innovation private limited',
 'meraki it solutions',
 'kavya interprises',
 'vaishnavi services',
 'neelima staffing solution',
 'talent toppers llp',
 'aryan technology',
 'tlg india private limited',
 'leverage business solutions private...']

In [22]:
experience_required

['3 to 8 Yrs',
 '2 to 6 Yrs',
 '3 to 6 Yrs',
 '0 to 4 Yrs',
 '18 to >25 Yrs',
 '0 to 4 Yrs',
 '0 to 3 Yrs',
 '0 to 4 Yrs',
 '5 to 9 Yrs',
 '4 to 8 Yrs']

In [23]:
# Creating a dataframe of the scraped data

df_shine = pd.DataFrame({'Title': job_title, 'Location': job_location, 'Company_name': company_name, 'Experience': experience_required})
df_shine

,Title,Location,Company_name,Experience
0,Data Scientist,Bangalore,comosrich it & consulting services,3 to 8 Yrs
1,Data Scientist,Bangalore\n+1,dotcod innovation private limited,2 to 6 Yrs
2,Data Scientist,Bangalore,meraki it solutions,3 to 6 Yrs
3,Data Scientist Recruitment,Bangalore\n+13,kavya interprises,0 to 4 Yrs
4,Data Scientist,Bangalore\n+10,vaishnavi services,18 to >25 Yrs
5,Hiring For Data Scientist,Bangalore\n+15,neelima staffing solution,0 to 4 Yrs
6,Data Scientist,Bangalore\n+2,talent toppers llp,0 to 3 Yrs
7,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs
8,Senior Associate Data Engineering Level 2,Bangalore\n+7,tlg india private limited,5 to 9 Yrs
9,Hr Data Analyst,Bangalore,leverage business solutions private...,4 to 8 Yrs

In [24]:
#Close the browser session 
driver2.close()

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-
reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F
LIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
    
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [25]:
# Initialize the Chrome driver
driver3 = webdriver.Chrome()

# Opening the required web page https://www.naukri.com/ on automated Chrome browser
driver3.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')    
time.sleep(2)

In [26]:
# Creating empty lists to store scraped data of rating, review_summary, and full_review

ratings = []
reviews_summary = []
full_reviews = []

In [27]:
# Scraping rating from review
rating_tags = driver3.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in rating_tags:
    star = i.text
    ratings.append(star) 

# Scraping summary from review
summary_tags = driver3.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in summary_tags:
    summa = i.text
    reviews_summary.append(summa)
    
# Scraping full review from review
summary_tags = driver3.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in summary_tags:
    full = i.text
    full_reviews.append(full)

In [28]:
df_reviews10 = pd.DataFrame({'Rating': ratings, 'Review Summary': reviews_summary, 'Full Review': full_reviews})
df_reviews10

,Rating,Review Summary,Full Review
0,5,Worth every penny,Feeling awesome after getting the delivery of ...
1,5,Best in the market!,Good Camera
2,5,Wonderful,This is amazing at all
3,5,Terrific,Very very good
4,5,Just wow!,Perfect Product!!
5,5,Must buy!,It’s really awesome
6,5,Perfect product!,Photos super
7,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
8,5,Fabulous!,It’s very good battery life and display and vi...
9,5,Terrific purchase,Value for money 😍

In [29]:
# Scraping data for first 100 reviews

ratings_100 = []
reviews_summary100 = []
full_reviews100 = []

def reviews(ratings_100,reviews_summary100,full_reviews100):
    # Scraping first 10 ratings from review
    rating_tags = driver3.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for i in rating_tags:
        star = i.text
        ratings_100.append(star)
        
    # Scraping first 10 summaries from review
    summary_tags = driver3.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for i in summary_tags:
        summa = i.text
        reviews_summary100.append(summa)
        
    # Scraping first 10 full reviews from review
    summary_tags = driver3.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
    for i in summary_tags:
        full = i.text
        full_reviews100.append(full)
        
        

reviews(ratings_100,reviews_summary100,full_reviews100)
# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)

# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[3]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)

# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)


# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[5]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)


# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)


# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)


# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[8]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)


# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[9]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)


# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[10]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)


# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)

# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)

# coping full XPath of next button from web page
next_button = driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[13]')
next_button.click()
time.sleep(3)
reviews(ratings_100,reviews_summary100,full_reviews100)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[10]"}
  (Session info: chrome=116.0.5845.140); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
#0 0x5c53f3415e23 <unknown>
#1 0x5c53f313e7a7 <unknown>
#2 0x5c53f317d1d3 <unknown>
#3 0x5c53f317d2c1 <unknown>
#4 0x5c53f31b8a04 <unknown>
#5 0x5c53f319e03d <unknown>
#6 0x5c53f31b6369 <unknown>
#7 0x5c53f319dde3 <unknown>
#8 0x5c53f3171a7b <unknown>
#9 0x5c53f317281e <unknown>
#10 0x5c53f33d7638 <unknown>
#11 0x5c53f33db507 <unknown>
#12 0x5c53f33e5c4c <unknown>
#13 0x5c53f33dc136 <unknown>
#14 0x5c53f33aa9cf <unknown>
#15 0x5c53f33ffb98 <unknown>
#16 0x5c53f33ffd68 <unknown>
#17 0x5c53f340ecb3 <unknown>
#18 0x74a305e94ac3 <unknown>

In [31]:
print(ratings_100[:100])

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '4']

In [32]:
#Close the browser session 
driver3.close()

Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 3 attributes of each sneaker:

1. Brand
2. Product Description
3. Price

In [33]:
# Initialize the Chrome driver
driver4 = webdriver.Chrome()

# Opening the required web page https://www.naukri.com/ on automated Chrome browser
driver4.get('https://www.flipkart.com/')    
time.sleep(2)

In [34]:
# Sending "sneakers" to search and then enter for search
product = driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product.send_keys('sneakers'+ '\n')

In [35]:
# Creating empty lists to store scraped data of brand, product description and price

brand = []
product_description = []
price = []

# Scraping brand from search
brand_tags = driver4.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in brand_tags:
    name = i.text
    brand.append(name) 

# Scraping product description from search
pd_tags = driver4.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div/a[1]')
for i in pd_tags:
    pds = i.text
    product_description.append(pds)
    
# Scraping price from search
price_tags = driver4.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in price_tags:
    pr = i.text
    price.append(pr)

In [36]:
print(len(brand), len(product_description), len(price))

40 1 40

In [37]:
# Creating data frame of scraped data
df_sneakers = pd.DataFrame({'Brand':  brand, 'Price': price})
df_sneakers

              Brand   Price
0            BRUTON    ₹297
1            BRUTON    ₹297
2         Deals4you    ₹399
3              aadi    ₹299
4   U.S. POLO ASSN.  ₹1,249
5              aadi    ₹439
6            BRUTON    ₹297
7            BRUTON    ₹297
8           X Xiota    ₹699
9              PUMA  ₹1,047
10           BRUTON    ₹499
11           BRUTON    ₹297
12             PUMA  ₹1,200
13             PUMA  ₹1,047
14             ATOM  ₹1,685
15             PUMA  ₹1,043
16             aadi    ₹299
17           BRUTON    ₹449
18             aadi    ₹425
19         RapidBox    ₹795
20           BRUTON    ₹297
21           BRUTON    ₹297
22             PUMA  ₹1,298
23            asian    ₹808
24            asian    ₹746
25            asian    ₹749
26        Deals4you    ₹399
27         JUMPLITE    ₹999
28           CAMPUS  ₹1,608
29             Ifah    ₹699
30        Deals4you    ₹399
31           BRUTON    ₹297
32        RUN SEVEN    ₹999
33             PUMA  ₹1,680
34           VENDOZ    ₹599
35             PUMA  ₹1,075
36           Aeonik    ₹497
37            Zixer    ₹699
38         URBANBOX    ₹449
39             ATOM  ₹1,139

In [38]:
driver4.close()

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image:
    
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

1. Title
2. Ratings
3. Price

In [39]:
# Initialize the Chrome driver
driver5 = webdriver.Chrome()

# Opening the required web page https://www.amazon.in/ on automated Chrome browser
driver5.get('https://www.amazon.in/')    
time.sleep(2)

In [40]:
# Entering Laptop in the search field
product = driver5.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop'+'\n')

In [41]:
#  Applying the CPU type filter checking the respective box
CPU_filter = driver5.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[7]/ul[2]/span/span[10]/li/span/a/div/label/i')
CPU_filter.click()

time.sleep(3)

In [42]:
# Creating empty lists to store scraped data of title, ratings and price
title = []
rating = []
price = []

# Scraping title from search
title_tags = driver5.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags:
    name = i.text
    title.append(name) 

# Scraping rating from search
rating_tags = driver5.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style"]/span')
for i in rating_tags :
    star = i.text
    rating.append(star)
    
# Scraping price from search
price_tags = driver5.find_elements(By.XPATH,'//span[@class="a-price"]/span')
for i in price_tags:
    pr = i.text
    price.append(pr)

In [43]:
title[:10]

['MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 'HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe graphics, Backlit KB, Thin & light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU',
 'Lenovo IdeaPad 3 Intel Core i7 12th Gen 1255U - (16 GB/512 GB SSD/Windows 11 Home) 15IAU7 Laptop 82RK011GIN (39.62 cm, Arctic Grey, 1.63 Kg, with MS Office)',
 'ASUS Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel Iris Xe Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver,14-dv2015TU',
 'Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16" (40.6cm) 2.5K IPS 350Nits Laptop (16GB/1TB SSD/Win 11/Office 2021/Backlit KB/FHD 1080p +IR Camera/Alexa/3 month Game Pass/Cloud Grey/1.9Kg), 82XF0078IN',
 'Dell [Smartchoice Inspiron 5430 Thin & Light Laptop, 13th Gen Intel Core i7-1360P/16GB/1TB SSD/14.0" (35.56cm) FHD+ WVA 250 nits/Backlit KB + FPR/Windows 11 + MSO\'21/15 Month McAfee/Silver/1.59kg',
 'HP Pavilion 14, 11th Gen Intel Core i7-1195G7, 14-inch (35.6 cm), FHD, 16GB DDR4, 1TB SSD, Intel Iris Xe graphics, FPR, Backlit KB, Audio by B&O (Win 11, MSO 2019, Silver, 1.41 kg), dv1029TU',
 'Dell Latitude 7480 14in FHD Laptop PC - Intel Core i7-6600U 2.6GHz 16GB 512GB SSD Windows 10 Professional (Renewed)',
 'HP Pavilion 15, 13th Gen Intel Core i7-1360P, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 1TB SSD, Intel Iris Xᵉ graphics, FPR, Backlit KB, Audio by B&O (Win 11, MSO 2021, Silver, 1.74 kg), eg3036TU']

In [44]:
driver5.close()

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
    
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quote
3. Than scrap a) Quote b) Author c) Type Of Quotes

Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1

scrap the mentioned data and make the DataFrame

Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/

This task will be done in following steps:
    
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.